/* Validated by https://jigsaw.w3.org/css-validator/ */

body {
    font-family: 'Encode Sans', sans-serif;
    font-weight: 500;
}

h1 {
    font-size: 48px;
}

.row {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #eeeeee;
}

.btn-group-justified {
    padding: 0 15px;
}

.jumbotron {
    text-align: center;
    margin-bottom: 0;
    padding: 20px;
}

.well {
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 0;
}

#welltext {
    width: 100%;
    font-size: 22px;
    text-align: center;
    font-style: italic;
}

.img-thumbnail {
    opacity: 1;
    transition: 0.7s ease;
}

.overlay {
    opacity: 0;
    transition: 0.7s ease;
    top: 0;
    left: 15px;
    right: 15px;
    height: 100%;
    background-color: #fafafa;
}

.overlay-box {
    position: relative;
}

.overlay-box:hover .img-thumbnail {
    opacity: 0.15;
}

.overlay-box:hover .overlay {
    opacity: 0.85;
}

.proj-text p,
.homeimg-text p,
.work-text p { /* .work-text applies only for viewwidths < 992px */
    color: #000000;
    font-size: 16px;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 10px;
    transform: translate(0%, -100%);
    text-align: center;
}

.proj-text p {
    font-size: 3vw;
}

.homeimg-text p {
    font-size: 26px;
}

.work-text p {
    font-size: 3vw;
}

.top-row {
    padding-bottom: 0;
    border-bottom-color: white;
}

.middle-row {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom-color: white;
}

.bottom-row {
    padding-top: 0;
}

.projectrow {
    border-color: white;
}

.inner-text {
    font-size: 18px;
}

.timeframe {
    padding-left: 0;
}

.homeimg img {
    margin: auto;
}

.page-header {
    margin-bottom: 0;
    text-align: center;
}

.small-head {
    font-size: 36px;
}

.centered-head {
    text-align: center;
    margin-top: 20px;
}

.navbar {
    margin-bottom: 0;
}

.project-text {
    font-size: 24px;
    text-align: left;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
}

.contact-info {
    padding: 0 15px 15px;
    border-bottom: 2px solid #eeeeee;
}

.writeup-text {
    text-align: center;
    justify-content: center;
}

.carousel-caption {
    color: black;
}

a.discrete-links {
    color: #333333;
}

.fa {
    margin: 0 2px;
    padding: 10px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none !important;
    border-radius: 4px;
}

.fa-github {
    background: black;
    color: white;
}

.fa:hover {
    color: white;
    opacity: 0.5;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-soundcloud {
    width: 60px;
    background: #ff5500;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

#name_header {
    color: black;
    text-decoration: none;
}

.experience-left img,
.experience-right img {
    border: 0;
    width: 100%;
}

/* Source: https://stackoverflow.com/a/47188741 */
@media screen and (min-width: 992px) {
    .experience-row {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        flex-wrap: wrap;
        align-items: center;
    }

    .experience-left {
        order: 1;
    }

    .experience-right {
        order: 2;
    }

    .experience-left img,
    .experience-right img {
        max-height: 300px;
    }

    .work-text p {
        font-size: 2vw;
    }

    .proj-text p {
        font-size: 2vw;
    }
}

@media screen and (min-width: 1200px) {
    .proj-text p {
        font-size: 1.25vw;
    }
}

@media screen and (min-width: 1300px) {
    .work-text p {
        font-size: 1.5vw;
    }

    .proj-text p {
        font-size: 1.25vw;
    }
}

.thin-headers {
    margin-top: 5px;
}
