# Private files for SEO / Website Integrity
.htaccess
*.xml
google*.html

.DS_Store
package-lock.json
.well-known/
cgi-bin/

# Cyberduck FTP configs
/.ftpconfig
/.ftpignore

js/
/.idea

fonts/
sitemap.xml
BingSiteAuth.xml
