# Private files for SEO / Website Integrity
.htaccess
*.xml
google*.html

# PDF files don't need to be tracked by Git
documents/

# Same with images
images/
*.ico
.DS_Store

# Blocking out config files
.ftpconfig
.ftpignore

package-lock.json
