---
extends: default

rules:
  truthy:
    check-keys: false  # Need to turn off "on" key names for Github Actions
  line-length:
    max: 120
    allow-non-breakable-words: true  # Github's API URLs were breaking the line-length rule
