# https://github.com/marketplace/actions/html5-validator
---
on: pull_request
name: HTML5 Validator
jobs:
  HTML-Linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2  # Required with all actions
      - name: Checks HTML5
        uses: Cyb3r-Jak3/html5validator-action@v0.4.1
        with:
          root: ./
          css: true
